:root {
    /*Primary*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--Pale-blue);
}

.main-card{
    display: flex;
    width: 700px;
    height: 480px;
    background: var(--White);
    border-radius: 1.75rem;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 1.75rem;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 25px 45px 0 45px;
    box-sizing: border-box;
}

.results-title {
    font-size: 20px;
    font-weight: 500;
}

.score-circle {
    background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin-top: 24px;
}

.score-value,
.score-total {
    display: block;
}

.score-value {
    font-size: 60px;
    font-weight: bold;
    color: var(--White);
}

.score-total {
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.4);
}

.result-message-label {
    margin-top: 30px;
    margin-bottom: 0;
    color: var(--White);
    font-size: 24px;
}

.result-message-text {
    margin: 18px 0 0 0;
    text-align: center;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 350px;
    background: var(--White);
    box-sizing: border-box;
    padding: 25px 45px 0 45px;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}

.summary-title {
    font-size: 20px;
    margin-bottom: 0;
    color: var(--Dark-gray-blue);
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 28px 0 0 0;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    padding: 0 14px 0 45px;
    position: relative;
}

.category img {
    position: absolute;
    top: 15px;
    left: 14px;
}

.reaction-cat {
    color: var(--Light-red);
    background: hsla(0, 100%, 67%, 0.07);
}

.memory-cat {
    color: var(--Orangey-yellow);
    background: hsla(39, 100%, 56%, 0.07);
}

.verbal-cat {
    color: var(--Green-teal);
    background: hsla(166, 100%, 37%, 0.07);
}

.visual-cat {
    color: var(--Cobalt-blue);
    background: hsla(234,85%, 45%, 0.07);
}

.continue-btn {
    margin-top: 40px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: var(--White);
    background: var(--Dark-gray-blue);
    font-size: 17px;
}