:root {
    /*Primary*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--Pale-blue);
}

.main-card{
    display: flex;
    width: 700px;
    height: 500px;
    background: var(--White);
    border-radius: 1.75rem;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 1.75rem;
}

.circle {
    background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
}

.summary {
    display: flex;
    flex-direction: column;
    background: var(--White);
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
}